.window__background {
    max-width: 1440px;
    height: 1024px;
    background: url('./blure.png');
    display: flex;
    justify-content: center;
    align-items: center;
}
.window__change {
    width: 539px;
    height: 419px;
    background-color: #ffffff;
    padding: 64px 85.5px 0 85.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.change__title {
    font-size: 24px;
    color: #262626;
    font-weight: 500;
    margin-bottom: 32px;
    text-align: center;
}
.change__text {
    margin-bottom: 28px;
    color: #8c8c8c;
    font-size: 12px;
}

span.ant-input-affix-wrapper.css-dev-only-do-not-override-1rqnfsa.ant-input-outlined.ant-input-password.input__change2
    input.ant-input.css-dev-only-do-not-override-1rqnfsa {
    background-color: #ffffff;
}
span.ant-input-affix-wrapper.css-dev-only-do-not-override-1rqnfsa.ant-input-outlined.ant-input-password.input__change2 {
    height: 40px;
    border-radius: 2px;
}

@media (max-width: 620px) {
    .window__change {
        width: 328px;
        height: 386px;
        padding: 32px 16px 0 16px;
    }
}
